# Eclipse
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.externalToolBuilders/
*.launch
.cproject
.classpath
.factorypath
.buildpath
.target
.texlipse

# Java
*.class
*.jar
*.war
*.ear
hs_err_pid*

# IntelliJ IDEA
.idea/
*.iml
target/
